body {
    font-family:"Poppins" , sans-serif;
    background-color: aliceblue;
    padding: 40px;
    color: #333;
    line-height: 1.6;
}

h1 {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 4px;
    color:blueviolet
}

.section {
    background-color: #fff;
    padding: 20px 30px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    margin-bottom: 30px;
}

.title {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
    color: #333;
    border-left: 4px solid #0a74da;
    padding-left: 10px;
}

.example {
    font-size: 18px;
    margin: 8px 0;
}

.bold {
    font-weight: bold;
}

.light {
    font-weight: 300;
}

.italic {
    font-style: italic;
}

.oblique {
    font-style: oblique;
}

.uppercase {
    text-transform: uppercase;
}

.capitalize {
    text-transform: capitalize;
}

.underline {
    text-decoration: underline;
}

.overline {
    text-decoration: overline;
}

.line-through {
    text-decoration: line-through;
}